CONSUL_EXPORTER_OPTS='--log.format="logfmt" --web.listen-address="{{ ansible_default_ipv4.address }}:{{ consul_port_arg.exporter }}" --consul.server="{% if consul_arg.https %}https{% else %}http{% endif %}://127.0.0.1:{{ consul_port_arg.http }}" --no-consul.health-summary --consul.allow_stale --consul.insecure'
