CONSUL_EXPORTER_OPTS='--log.format="logfmt" --web.listen-address=":{{ consul_port_arg.exporter }}" --consul.server="{% if consul_arg.https %}https{% else %}http{% endif %}://localhost:{{ consul_port_arg.http }}" --no-consul.health-summary --consul.allow_stale --consul.insecure'
