[Unit]
Description=hashi-ui
Requires=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=20
StartLimitInterval=0
User={{ consul_arg.user }}
Environment=CONSUL_HTTP_SSL_VERIFY=false
ExecStart=/usr/local/bin/hashi-ui-{{ ansible_system|lower }}-{{ consul_architecture[ansible_architecture] }} --consul-enable -listen-address 0.0.0.0:{{ consul_port_arg.hashiui }} -https-enable -server-cert {{ consul_path.conf }}/ssl/{{ consul_arg.ca_file }} -server-key {{ consul_path.conf }}/ssl/{{ consul_arg.key_file }} -consul-acl-token {{ consul_acl_arg.master_token }} -consul-address {{ consul_public_http_prot }}://127.0.0.1:{{ consul_port_arg.http }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
