[consul]
type = {{ consul_backupset_arg.cloud_drive }}
{% if consul_backupset_arg.cloud_drive == 'azureblob' %}
account = {{ consul_backupset_arg.cloud_config.account }}
key = {{ consul_backupset_arg.cloud_config.key }}
endpoint = {{ consul_backupset_arg.cloud_config.endpoint }}
{% endif %}
{% if consul_backupset_arg.cloud_drive == 's3' %}
provider = Minio
env_auth = false
access_key_id = {{ consul_backupset_arg.cloud_config.access_key }}
secret_access_key = {{ consul_backupset_arg.cloud_config.secret_key }}
region = us-east-1
endpoint = {{ consul_backupset_arg.cloud_config.endpoint }}
location_constraint =
server_side_encryption =
{% endif %}
